<nav>
<h1>Olivier.</h1>
    <div class="contact">
        <img src=".\assets\icons\main_phone.svg" alt="phone.svg">
        <p>+98 76-54-1423</p>
    </div>
    <div>

    </div>
    <div class="contact">
        <img src=".\assets\icons\main_mail.svg" alt="">
        <p>olivier.depiesse@gmail.com</p>
    </div>
</nav>