<nav>
    <div class="contact">
        <h1>Olivier.</h1>
        <div class="contact separate">
            <img src=".\assets\icons\main_phone.svg" alt="phone.svg">
            <p>+98 76-54-1423</p>
        </div>
        <div class="contact contact-separate">
            <img src=".\assets\icons\main_mail.svg" alt="main_mail">
            <p>olivier.depiesse@gmail.com</p>
        </div>
    </div>
    <div>
        <img class="burger" src=".\assets\icons\main_menu.svg" alt="burger_menu">
    </div>

</nav>