<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PortFolio Olivier</title>
  <link rel="stylesheet" href="assets/css/semantic.min.css">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <p>Paragraphe en dehors de &lt;main&gt;</p>
  <script src="./assets/js/jquery3.6.js"></script>
  <script src="./assets/js/semantic.min.js"></script>
</body>
</html>
