$encre: blue;
$encretxt: lighten($encre, 20%);
$background: rgb(255, 255, 220);

body {
  background-color: $background;
  width: 100%;
}

main {
  margin: 10px 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 7px;

  h1 {
    color: $encre;
  }

  p {
    color: $encretxt;
    font-size: 18px;
    text-align: left;
    &:last-child{
      font-weight: bold;
      color:rgb(238, 0, 255);
      text-align: center;
    }
  }
}
