body {
  background-color: rgb(255, 255, 220);
  width: 100%;
}

main {
  margin: 10px 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 7px;
}
main h1 {
  color: blue;
}
main p {
  color: #6666ff;
  font-size: 18px;
  text-align: left;
}
main p:last-child {
  font-weight: bold;
  color: rgb(238, 0, 255);
  text-align: center;
}

p {
  text-align: right;
  font-style: italic;
  color: #777;
}