body {
  background-color: rgb(255, 255, 230);
  width: 100%;
}

main {
  margin: 10px 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 7px;
}
main h1 {
  color: rgb(0, 68, 255);
}
main p {
  color: #668fff;
  font-size: 18px;
}

p {
  color: grey;
  text-align: right;
  margin-right: 10px;
}