$encre: #00f;
$encretxt: lighten($encre, 20%);
$background: beige;

body {
  background-color: $background;
  width: 100%;
}

main {
  margin: 10px 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 7px;

  h1 {
    color: $encre;
  }

  p {
    color: $encretxt;
    font-size: 18px;
  }
}

p{
  color:grey;
  text-align: right;
  margin-right: 10px;
}