@import url("https://fonts.cdnfonts.com/css/roboto");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: arial;
  line-height: 1;
  color: white;
  font-size: 24px;
  background-color: #232323;
  width: 100%;
}

button {
  font-size: 14px;
  margin-top: 40px;
  color: #fff;
  background-color: #BB2323;
  border-radius: 45px;
  height: 47px;
  border: none;
}
button.contact {
  width: 165px;
}
button.experiments {
  width: 194px;
}

hr.tiret {
  border: 3px solid #f87f28;
  width: 73px;
  margin-left: 0;
}

#navbar nav {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#navbar nav h1 {
  font-size: 2rem;
  margin-left: 2em;
}
#navbar .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
#navbar .burger {
  margin-left: 10em;
}
#navbar .separate {
  margin-left: 4em;
}

/* kikoo */
#experiments {
  margin: 50px;
}
#experiments .experimentsTitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
}
#experiments hr.tiret {
  border: 3px solid #f87f28;
  width: 73px;
  margin-left: 0;
}
#experiments .presentation {
  margin-top: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 2;
}
#experiments button {
  width: 194px;
}

#contact {
  margin: 50px;
}
#contact .contactTitle {
  margin: 20px 0 20px;
  color: grey;
  font-size: 36px;
  line-height: 60px;
  font-weight: bold;
}
#contact .contactType {
  color: #f87f28;
  font-size: 24px;
}
#contact .boxContact {
  display: flex;
}
#contact .infos {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 0 20px 30px;
  line-height: 1.5;
}
#contact .iconContact {
  width: 43px;
  height: 43px;
  display: block;
  background-size: cover;
}
#contact .iconContact.adress {
  background-image: url("../icons/contact_adress.svg");
}
#contact .iconContact.mail {
  background-image: url("../icons/contact_mail.svg");
}
#contact .iconContact.phone {
  background-image: url("../icons/contact_phone.svg");
}
#contact .txt-24px {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}
#contact .form_description {
  font-size: 14px;
  line-height: 2;
}
#contact fieldset {
  margin-top: 40px;
  border: 1px solid grey;
  border-radius: 4px;
}
#contact legend {
  font-size: 14px;
  padding: 3px 15px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
}
#contact input.contact, #contact textarea.contact {
  margin: 0.4rem;
  border: 0;
  background-color: #232323;
}/*# sourceMappingURL=styles.css.map */