<hr>

<div id="contact">

  <h2 class="contactTitle">Contact.</h2>

  <div class="boxContact">
    <div class="iconContact adress"></div>
    <div class="infos">
      <div class="contactType">Adresse</div>
      <p>36 rue des Peupliers</p>
      <p>Paris (75018) France</p>
    </div>
  </div>

  <div class="boxContact">
    <div class="iconContact mail"></div>
    <div class="infos">
      <div class="contactType">Mail</div>
      <p>olivier.depiesse@gmail.com</p>
    </div>
  </div>

  <div class="boxContact">
    <div class="iconContact phone"></div>
    <div class="infos">
      <div class="contactType">Téléphone</div>
      <p>06 54 84 54 75</p>
    </div>
  </div>

  <div class="contactTitle txt-24px">Utilisez le formulaire
    ci-dessous pour me contacter</div>

  <div class="form_description">
    Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis
    imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue..
  </div>

  
  <form action="#" method="POST">

    <fieldset>
      <legend>Votre nom :</legend>
      <input type="text" name="name" id="name" class="contact">
    </fieldset>

    <fieldset>
      <legend>Votre email :</legend>
      <input type="text" name="email" id="email" class="contact">
    </fieldset>

    <fieldset>
      <legend>Message :</legend>
      <textarea name="message" id="message" class="contact"></textarea>
    </fieldset>

    <button type="submit" class="contact">Envoyer</button>

  </form>






</div>
