<h2 class="contact titleGrey">CONTACT</h2>
<div class="boxContact">
  <div class="contactType">Adresse</div>
  <p>36 rue des Peupliers Paris (75018) France</p>
  <div class="contactType">Mail</div>
  <P>olivier.depiesse@gmail.com</P>
  <div class="contactType">Téléphone</div>
  <P>06 54 84 54 75</P>
</div>
