<div id="experiments">
  <div class="experimentsTitle">
    Experience
  </div>

  <hr class="tiret">

  <div class="presentation">
    Necessitatibus eius consequatur ex aliquid fuga eum quidem, It doesn’t matter how great your product or service is if
    your copy does not captivate your audience.    
  </div>
  
<div class="job">
  
  <div class="icon"></div>
  <div class="period">
    AUJOURD’HUI
  </div>
  
  <div class="role">
    Web Developper
  </div>
  
</div>




<button>Download Resume</button>

</div>

AUJOURD’HUI
Web Developper
MAI 2010 - AVRIL 2021
Directeur de projet Web
SEPT 2008 - MAI 2009
Web Developper
Download Resume
