<div class="containerDescription">
    <div class="decription">
        <h1> JE SUIS FULLSTACK DESIGNER</h1>
        <h2>Hola, mi nombre es Olivier.</h2>
        <p>Développement : Environnement LAMP, Zend Framework, ExtJS,
            Webservices, AMFPHP, API Google Maps, Facebook
            Open Graph, API Twitter</p>
        <p>Directeur technique Webedia Madrid</p>
        <div>
            <button class="buttonPortfolio" type="submit">Portfolio</button>
            <button class="buttonContact" type="submit">Contact</button>
        </div>
    </div>
    <div class="imageDescription">
        <img src="./assets/img/img.png" alt="photo">
    </div>
</div>
<div class="clientBar">
    <div>
        <p>CLIENTS</p>
    </div>
    <div class="logoClient">
        <img src=".\assets\img\sega.png" alt="">
        <img src=".\assets\img\ubisoft.png" alt="">
        <img src=".\assets\img\Microsoft.png" alt="">
        <img src=".\assets\img\electronic_arts.png" alt="">
        <img src=".\assets\img\Capcom.png" alt="">
        <img src=".\assets\img\bethesda.png" alt="">
    </div>
</div>

