<h1>Partie MAIN</h1>
<p>Infos d'Olivier + sa tof + clients</p>
<div class="ui segment">
  <div class="ui active inverted dimmer">
    <div class="ui small text loader">Loading</div>
  </div>
  <p></p>
</div>