<hr>

<div id="news">

  <h2 class="newsTitle">Actualités</h2>

  <hr class="tiret">

  <article>
    <div class="date">
      19 AOÛT 2014
    </div>

    <div class="title">
      OMOTE / REAL-TIME FACE TRACKING & PROJECTION MAPPING
    </div>

    <div class="body">
      LIVE INSTALLATION ON 2014/8/28connpass.com/event/8112/ PROJECT MEMBERS NOBUMICHI ASAI (PLANNER / PRODUCER /
      TECHNICAL...
    </div>
  </article>

  
  <article>
    <div class="date">
      8 NOVEMBRE 2013
    </div>

    <div class="title">
      Forest
    </div>

    <div class="body">
      Movie : Takeshi Tsunehashi d-apartment.net - The post Forest first appeared on Yop Concept.
    </div>
  </article>


  <article>
    <div class="date">
      18 OCTOBRE 2013
    </div>

    <div class="title">
      Atoms For Peace – Before Your Very Eyes
    </div>

    <div class="body">
      Vous trouverez ici le making-of : http://www.youtube.com/watch?v=mfWNvhgHV3A...
    </div>
  </article>

</div>
